h1{

    text-align: center;
    border: 6px solid green;
    display:block;
    background-color: lightpink;
}
*{
    box-sizing: border-box;

}
p{
    display:inline-block;
    background-color: antiquewhite;
}
h2{
    text-align: center;
    text-decoration:underline solid red;
    display: block;
    border: 10px solid grey;
}