*{
    box-sizing: border-box;
}
h1{
 box-shadow: inset;
 border-radius: 5px;
 border: 6px rgb(181, 38, 62) bold;
 text-align: center;
 text-decoration:dotted;
 background-color: beige;

}
.box-demo{
    background-color: bisque;
}