p{
    color: rgb(168, 20, 20);

}
div{
    *{
        background-color:blue;
        margin: 5%;
    }
    text-transform:uppercase;
color:brown;
q{
    background-color: black;
}
var{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
font-style: var();
font-size: larger;
}
cite{
    background-color: maroon;
}
}
h1{ 
    .highlight-box{
        background-color: pink;

    }
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: blue;
    
}